.chat {
  border-radius: 1rem;
  padding: 1rem 1rem;

  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-grey-3);
  }
}

.chatImg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.chatDetails {
  display: flex;
  flex-direction: column;
}

.user {
  color: var(--color-grey-8);
  font-size: 1.8rem;
}
